{% extends 'posts/base.html' %}
{% block content %}
<form action="{% url 'verify-email' %}" method="post" name="email-verification-form" class="col-lg-3 email-verification-form">

        <h5 class="alert alert-success">Please enter the verification code right below</h5>
    <div class="form-group">
        {% csrf_token %}
        <input name="email_verification_code" style="background:#dfffe6 !important" type="text" class="form-control text-success" onkeyup="if (this.value.length<=6 && !isNaN(this.value)){window.verification_value=this.value;}else{this.value=window.verification_value;}">
        {% if msg %}<span class="" style="color:red;">{{msg}}</span>{% endif %}
    </div>
    <div class="col-lg-12">

        <button class="btn btn-success " type="submit" style="background: #218838 !important;">Verify</button>
        <a href="{% url 'verify-email' %}" class="btn btn-success offset-lg-2" type="submit" style="background: #218838 !important;">send code again</a>

    </div>
</form>
{% endblock content %}

