{% load static %}
{% load crispy_forms_tags %}
{% if messages %}
{% for message in messages %}
<h4 class="alert alert-{{ message.tags }}">{{ message }}</h4>
{% endfor %}
{% endif %}
<form action="#" method="post" onsubmit="return SaveandAddAnother()" name="create-post" class="form">
{% csrf_token %}
{{ add_post_form }}


    <input name="submit" type="submit" onclick="window.post_submit_value = 0;" value="Save" class="btn btn-success success-button">
    <input name="submit_and_add" type="submit" onclick="window.post_submit_value = 1" value="SaveandAddAnother" class="btn btn-success success-button">
</form>
