{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="rNVamYs8J-HXEQkOgoTc0-roRLJdNEcHTCxmZSV5kM4" />
    <meta name="title" content="One-Page-Blog-abdulkuddusa4">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        .email-verification-form{
            margin:50px auto;
            }

    </style>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-success">
        <a href="{% url 'posts' %}" class="navbar-brand"></a>
        <ul class="nav">
            {% if user.is_active %}
                <li class="nav-item">
                {% if user.emailvalidator.is_validate %}
                    <a class="nav-link" data-toggle="modal" data-target="#addpostform" style="cursor:pointer" onclick="load_add_post_form()">
                      Create Post
                    </a>
                    {% include 'posts/modal.html' %}
                {% else %}
                    <a class="nav-link" href="{% url 'verify-email' url='/posts/'%}" style="cursor:pointer" onclick="">
                      Create Post
                    </a>
                {% endif %}
                </li>
                <li class="nav-item">
                    <a href="{% url 'user-logout' %}" class="nav-link">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#LoginForm" onclick="load_login_form()">Login</a>
                    <div class="modal modal-fade" id="LoginForm">
                        <div class="modal-dialog">
                            <div class="modal-content bg-success col-lg-7 no-padding full-radius">
                                <div class="form">
                                    <div class="modal-header form">
                                        <h5>Place your credential correctly</h5>
                                        <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>

                                    </div>
                                    <div class="modal-body form" id="LoginModal">
                                        <div class="" style="margin:auto;">
                                            <img src="{% static 'loading.gif' %}" alt="" style="max-width:100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#SignUpForm" id="signup_button">Sign Up</a>
                    <div class="modal modal-fade" id="SignUpForm">
                        <div class="modal-dialog">
                            <div class="modal-content col-lg-10 no-padding" style="border-radius:3%;background:#2db54c !important;">
                                <div class="modal-header">
                                    <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>
                                <div class="modal-body form" id="SignUpModal">
                                    <div class="col-lg-7" style="margin:auto;">
                                        <img src="{% static 'loading.gif' %}" alt="" style="max-width:100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endif %}
        </ul>
    </nav>
<div class="container-fluid">
    <div id="message-block">
    {% if messages %}
    <ul class="messages" style="margin:0px;padding:0px;">
        {% for message in messages %}
                <li class="alert alert-{{ message.tags }}" style="margin-bottom:1px;list-style-type:none;padding:0.75rem 3.25rem;">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    </div>
    <h1 class="h1 alert alert-warning">This site is for demo purpose only!.</h1>
    {% block content %}
    {% endblock content %}
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'custom_script.js' %}"></script>
</body>
</html>
